# Dependency directories
node_modules/
api_logs.txt

.env
.env.creator-platform--production

contentisqueen-97ae5-firebase-adminsdk-qhkbo-6886ee17eb.json
creator-99ddf-firebase-adminsdk-nf38h-cc33e2ec46.json

.firebase-debug.log
 api_logs.txt

.nyc_output/
coverage/